/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2020, 10:38:17 AM
    Author     : Ayeshmi
*/
body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
    background-color: #1fc8db;
 background-image: linear-gradient(141deg,#9fb8ab 0%,#1fc8db 51%,#2cb5e8 75%);


  height: 1000px;
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
   filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  text-align:center;
  /*margin:100px 0px;*/
    margin-left: auto;
  margin-right: auto;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 350px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 350px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 250px;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
} 
 .topnav {
  overflow: hidden;
  background-color: #333;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
h1{
     text-shadow: 2px 2px darkorange;

   text-align: center;
   font-family: cursive;
   font-size:50px;
}
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

